$primary-color: #04772379;
$color-primary-light: #eb2c0690;
$color-primary-dark: #002e0ca2;
$color-grey-dark: grey;
$color-white: white;
$color-black: black;
$color-btn-header: rgba(255, 0, 0, 0.118);
$color-gray-light: #f7f7f7;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$font-size:1.6rem;